<p>customer-list works! (Child Component)</p>


<table class="table table-hover">
    <thead>
        <tr>
            <th>Customer Name</th>
            <th>Select</th>
        </tr>
    </thead>
    <tbody>
        @for (customer of customerList; track $index) {
            <tr>
                <td>{{customer}}</td>
                <td>
                    <button class="btn btn-info" (click)="selectCustomer(customer)">Select Customer</button>
                </td>
            </tr>
        }
    </tbody>
</table>